.carousel {
    overflow: hidden;
    height: max(auto, 800px);
    background-color: #140E3A;
    width: 100vw;
    min-height: max(34vh, 300px);
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
}

.carousel_item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 45vh;
    transition: opacity 0.8s;
    width: 45%;
    margin-left: 10px;
    margin-right: 10px;
    /* border: solid;
    border-color: white; */
}

.carousel_tile {
    background-color: #292A47;
    min-height: 34vh;
    width: max(43vw, 200px);
    border-radius: 40px;
    color: white; 
    text-align: center;
    box-shadow: 0px 0px 7px 7px rgba(59, 124, 197, 0.315);
    /* border: solid;
    border-color: red; */
}

.carousel_tile_title {
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
}

.carousel_tile_body {
    white-space: normal;
    font-size: max(12px, 2vmin);
    margin: 5px;
    margin-top: 20px;
}

.col {
    border: none;
    border-color: red;
    min-height: 40vh;
}

.row {
    position: absolute;
    z-index: 1;
    width: 100vw;
    padding: 0%; 
    margin:0;
}

.indicators {
    display: flex; 
    justify-content: center;
}


@media (max-width: 767px) {
    .carousel_tile_title {
        font-size: 3vw;
        font-weight: bold;
    }

    .carousel_item {
        width: 70%;  
        height: 65vh;
    }
    .carousel_tile {
        width: 68vw; 
        height: 60vh;
    }
    .carousel_tile_title {
        font-size: 20px;
    }
    .carousel_tile_body {
        font-size: 18px;
        margin-right: 10px;
        margin-left: 10px;
    }

  }