.tile {
    min-width: 19vw; 
    height: 48vh;
    min-height: 250px;
    margin: 5vw;
    margin-top: max(2vh, 15px);
    border-radius: 7%;
}

.tile:hover {
    background-color: #201F3A; 
    transition-duration: .25s;   
}

.image {
    margin-top: 15px;
    margin-left: 15px; 
}

.heading {
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-left: 15px; 
    margin-right: 15px; 
    color: white; 
    max-width: 50vw;
    font-size: max(2.75vh, 26px);

    font-weight: bold;
}

.body {
    color: white; 
    font-size: max(2.1vh, 13px);
    margin-left: 15px; 
    margin-right: 15px; 
    max-width: 50vw;
}


