.tile {
    width: 19vw; 
    height: 48vh;
    margin-top: 2vh;
    border-radius: 7%;
}

.tile:hover {
    background-color: #201F3A; 
    transition-duration: .25s;   
}

.image {
    margin-top: 15px;
    margin-left: 15px; 
}

.heading {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 15px; 
    margin-right: 15px; 
    color: white; 
    font-size: 4vh;
    font-weight: bold;
}

.body {
    color: white; 
    margin-left: 15px; 
    margin-right: 15px; 
}
