
.tile {
  margin: 2vh;
  margin-top: 2vh;
  border-radius: 20px;
  /* border: solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tile:hover {
  background-color: #201F3A; 
  transition-duration: .25s ease;   
}

.imgDiv {
  height: calc(11vh + 11vw);
  width: calc(11vh + 11vw);
  background: #201F3A;
  border-radius: 7%;
  margin: auto;
  margin-top: calc(1vh + 1vw);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.Image {
  /* height: 100%;
  width: auto; */
  /* background-size: contain; */
 
}

.h1 {
  /* margin: auto; */
  color: white; 
  font-weight: 600;
  font-size: 2.5vh;
  text-align: center;
}

.body {
  color: white; 
  margin-left: 10%; 
  margin-right: 10%; 
  font-style: normal;
  font-weight: 500;
  font-size: max(1.5vh, 12px);
  text-align: center;
}
