.container {
  height: calc(100vh - 57px);
    /* border: solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}

.topRow {
  /* border: solid red;
  background-color: rgb(192, 144, 82); */
  width: 100vw;
  /* margin: auto; */
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h1 {
    margin-top: 40px;
}

.p {
    max-width: 743px;
    margin: auto;
}

.bottomRow {
  /* border: solid red;
  background-color: rgb(192, 144, 82); */
  color: white;
  height: 63%;
}

.col {
  /* border: solid green; */
  display: flex;
  justify-content: center;
  height: 100%;
}