
/* A Css variable used to toggle the visual grid on
 * and off. */
.container {
  --border-status: none;
  --border-color: red;
  --border-color-mq: blue;
  background-color: black;
  
}

.row {
    min-height: calc(100vh - 57px);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.left_col {
  border: none;
  border-color: var(--border-color);
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;

  color: white;
  margin-left: 82px;
}

.h1 {
  font-weight: 700;
  font-size: 3.5vw;
  margin-top: 10%;
  margin-bottom: 4%;
}

.p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: max(.9vw, 14px);
  line-height: 22px;
  margin-right: 30%;
  margin-bottom: 4%;
  color: #9399BC;
}

.joinButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 16px 24px;
  width: 297px;
  height: 56px;
  background: #3772FF;
  border-radius: 8px;
  margin-bottom: 80px;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

.progressBar{
  margin-bottom: 10%;
  margin-right: 30%;
}

.right_col {
  border: var(--border-status);
  border-color: var(--border-color);
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
}

.imgContainer {
  border: var(--border-status);
  border-color: var(--border-color); 
  position: relative;
  z-index: -1;
  margin-left: min(-80%, -500px);
  
  top: -15%;
  right: -25%;
  
  /* margin-bottom: -20%; */
}

.clockContainer {
  display: flex;
  justify-content: center;
  margin-top: -50%;
  position: relative;
  z-index: 5;
}

@media (max-width: 1199px) {
  .row {
    height: auto;
  }

  .left_col {
    margin: 0;
    text-align: center;
    width: 100%;
    /* padding-left: 5vw; */
  }
  
  .h1 {
    font-size: 8vw;
  }

  .p {
    text-align: center;
    margin: auto;
    max-width: 70vw;
  }

  .joinButton {
    margin: auto;
    margin-top: 5vh;
  }

  .progressBar {
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 65vw;
  }

  
  .right_col {
    margin: 0;
    justify-content: center;
    height: 40vh;
  }

  .imgContainer {
    position: relative;
    z-index: -1;
    background-size: contain;
    margin: 0;
    margin-top: -10vh; 
    right: auto;
  }

  .clockContainer {
    position: relative;
    z-index: 5;
  }
}

@media (max-width: 570px) { 
  .h1 {
    font-size: 9vw;
  }

  .left_col {
    margin-bottom: 8vh;
  }
}
