.main {
    background-color: #140E3A;
    height: 110vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 50px; */
}


.row1 {
    height: 33vh;
    width: 100vw;
    justify-content: center;
    text-align: center;
    color: white;
}

.row3 {
    width: 100vw;
}

.paragraph {
    margin-top: 50px;
}

.image {
    width: 50vw;
}

.title {
    width: 50vw;
}

.row2 {
    height: 33vh;
    justify-content: center;
    width: 100vw;
    /* transform: translateX("10px"); */
}


@media (max-width: 767px) {
    .title {
        width: 70vw;
    }
    .image {
        width: 80vw;
    }
  }