.main_window {
    --border-status: none;
    --border-color: red;
    --border-color-mq: blue;
    height: 65vh; 
  }

.row1 {
    border: var(--border-status);
    border-color: var(--border-color);
    color: white;
    height: 12vh; 
    align-items: center;
    margin-left: 1vw;
    
}

.row2 {
    border: var(--border-status);
    border-color: var(--border-color);
    height: 53vh;
}

.col {
    border: var(--border-status);
    border-color: var(--border-color);
    display: flex;
    justify-content: center;
}
