.main {
    background-color: #140E3A;
    /* height: 110vh; */
    /* width: 100vw; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    margin: 0;
}


.row1 {
    height: min(33vh, 300px);
    width: 100vw;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #140E3A

}


.paragraph {
    margin-top: 50px;
}

.image {
    width: 50vw;
}

.title {
    width: 50vw;
}

.row2 {
    height: min(33vh, 350px);
    justify-content: center;
    width: 100vw;
    background-color: #140E3A
}


.row3 {
    width: 100vw;
    justify-content: center;
    text-align: center;
    color: white;
}



@media (max-width: 767px) {
    .title {
        width: 70vw;
    }
    .image {
        width: 80vw;
    }
  }