.main_window {
    --border-status: none;
    --border-color: red;
    --border-color-mq: blue;
    background-color: #140E3A;

    width: 100vw;
  }


.col1 {
    border: var(--border-status);
    border-color: var(--border-color);
    display: flex;
    height: 100vh;
    min-width: 50vw; 
}

.col2 {
    border: var(--border-status);
    border-color: var(--border-color);
    display: flex;
    height: 100vh;
    min-width: 50vw;

    flex-flow: column; 
}

.col3 {
    background-color: #140E3A;
    border: var(--border-status);
    border-color: var(--border-color);
    display: flex; 
    margin-top: 10vh;
    height: 50vh;
}

.col4 {
    background-color: #140E3A;
    border: var(--border-status);
    border-color: var(--border-color);
    margin-top: 10vh;
    height: 50vh;
}


.row1 {
    border: var(--border-status);
    border-color: var(--border-color);
    height: fit-content;
    width: fit-content;
    margin-top: 15vh;
    display: flex; 
    justify-items: center;
    text-align: center;
}

.headers {
    border: var(--border-status);
    border-color: var(--border-color);
    height: inherit;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    
}

.titles2 {
    color: #47D7AC;
    font-size: 3vh;
    /* margin-top: 2vh;
    margin-bottom: 17vh; */
}

.p1 {
    color: white; 
}


.image1 {
    width: 40vw;
    margin-right: 5vw;
    margin-left: 5vw;
    padding: 0px;
}

.image2 {
    padding: 0px;
    margin: 2vh;
    margin-left: 8vw;
    height: 46vh;
}

.title {
    color: white;
    font-size: 3vw;
}


@media (max-width: 767px) {
    .col1 {
      display: none !important;
    }

    .title {
        font-size: 5vw;
        width: 90vw;
        margin-left: 10vw; 
    }
  }