
/* A Css variable used to toggle the visual grid on
 * and off. */
.container {
  --border-status: none;
  --border-color: red;
  --border-color-mq: blue;
  background-color: black;
  
}

.row {
    min-height: calc(100vh - 57px);
    position: relative;
    z-index: 1;
}

.left_col {
  border: var(--border-status);
  border-color: var(--border-color);
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;

  color: white;
  margin-left: 82px;
}

.h1 {
  font-weight: 700;
  font-size: 3vw;
  margin-top: 10%;
  margin-bottom: 4%;
}

.p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: .9vw;
  line-height: 22px;
  margin-right: 30%;
  margin-bottom: 4%;
  color: #9399BC;
}

.joinButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 16px 24px;
  width: 297px;
  height: 56px;
  background: #3772FF;
  border-radius: 8px;
  margin-bottom: 80px;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

.progressBar{
  margin-bottom: 10%;
  margin-right: 30%;
}

.right_col {
  border: var(--border-status);
  border-color: var(--border-color);
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
}

.imgContainer {
  border: var(--border-status);
  border-color: var(--border-color); 
  position: relative;
  z-index: -1;
  margin-left: -80%;
  top: 0;
  right: -10%;
  /* margin-bottom: -20%; */
}

.clockContainer {
  border: var(--border-status);
  border-color: var(--border-color); 
  display: flex;
  justify-content: center;
  margin-bottom: 20%;
  
}

