.main_window {
    --border-status: none;
    --border-color: red;
    --border-color-mq: blue;

    border: var(--border-status);
    border-color: purple;
  }

.row1 {
    border: var(--border-status);
    border-color: var(--border-color-mq);
    color: white;
    min-height: 12vh; 
    align-items: center;
    margin-left: 1vw;
    
}

.row2 {
    border: var(--border-status);
    border-color: var(--border-color-mq);
    /* min-height: 53vh; */
}

.col {
    border: var(--border-status);
    border-color: var(--border-color);
    display: flex;
    justify-content: center;
    max-height: 52vh;
}

