
/** 
 * The Container div which holds 
 * all components of the clock and
 * provides the background color.
 */
.divContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    background: #272C44;
    border-radius: 10px;
}

.p {
    color: white;
    font-size: max(.7vw, 12px);;
}

/** 
 * A container for all boxes which
 * aligns them horizontally.
 */
.span {
    font-weight: large;
    font-size: max(2vw, 30px);;
    color: #E5C641;
    display: flex;
}

/**
 * The box which surrounds each number and 
 * the text which describes it used to aline 
 * them as a column. 
 */ 
.box {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.text {
    font-size: max(.7vw, 12px);
    color: #9399BC;
    margin: auto;
}