 .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    /* margin-top: 100vh; */
    border-color: white;
    /* border: solid; */
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    /* flex-grow: 1; */
  }

  .icon:hover {
    color: rgb(238, 206, 20);
    transform: translateY(-10px);
  }

  .social_media {
    height: 1em;
    
    font-size: 3rem;
    margin-left: 0.5rem;
    display: flex;
    justify-content: space-between;
    
  }

  .icon {
    color: #8f7878;
    transition: color 1s, transform .5s;
    margin: 10px;
  }