/* A Css variable used to toggle the visual grid on
 * and off. */
.main_window {
  --border-status: none;
}

/* CSS used to build the responsive Grid. 
 * it consists of a main_window that contains 
 * 3 rows each taking up 1/3 of the viewport 
 * height. */

.main_window{
  color: rgb(255, 255, 255);
  position: absolute;
  top: 0px;
  z-index: 1;
}

.row1 {
  border: var(--border-status);
  min-height: 23.3vh;
}

.row2 {
  border: var(--border-status);
  min-height: 23.3vh;
  align-items: center;
}

.row3 {
  border: var(--border-status);
  min-height: 53.3vh;
 
}

.col1 {
  display: flex;
  align-items: center;
  border: var(--border-status);
}

.col2 {
  display: flex;
  align-items: center;
  border: var(--border-status);
}

.title {
  font-size: 5.9vw;
  font-weight: Extra-bold;
  display: flex;
  justify-content: center;
}

.paragraph {
  text-align: right;
  margin-top: 25px;
}


/* Css for the div wrapping the next-image 
 * compnonet. The purpose is to fix the image 
 * to fix the screen and to set its z-index to 
 * -1 so that all other elements will render on 
 * top of this image by default. */
 
.bgWrap {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

/* This media query is set to activate when the 
 * the react boot strap grid elemes re-organize 
 * which is when the page width = xs or 576px. */

@media (max-width: 576px) {
  .row1 {
    border: var(--border-status);
    min-height: 23.3vh;
  }

  .row2 {
    align-items: flex-end;
  }

  .row3 {
    min-height: 53.3vh;
  }

  .col1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    border: var(--border-status);
  }

  .title {
    font-size: 8.9vw;
  }

  .paragraph {
    text-align: right;
    margin-top: 0%;
  }
}
