.main_window{
  color: rgb(252, 251, 251);
  position: fixed;
  top: 0px;
  z-index: 1;
  background-color: rgba(97, 177, 68, 0.2);
}

.rows {
  min-height: 33.3vh;
}

.cols {
  border: solid;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
