.main_window{
  color: rgb(255, 255, 255);
  position: fixed;
  z-index: 1;
}

.rows {
  height: 33.3vh;
}

.cols {
  border: solid;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
